/* styles.css */

/* General Title Style */
.title {
    color: #e6c619 !important;
    font-size: 3em;
    text-align: center;
    font-family: 'Times New Roman', Sans-serif;
    font-weight: bold;
}

/* Font Styles */
.fontstyle1 {
    color: #e6c619 !important;
    font-size: 2em;
    font-family: 'Times New Roman', Sans-serif;
    text-align: left;
    font-weight: bold;
}

/* Define custom CSS for square frame */
.square-frame {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border: 2px solid #444; /* Subtle dark border */
    border-radius: 15px;
    width: 100%;
    /* height: 350px;  Fixed height for the square */
    padding: 20px;
    margin: 10px;
    background-color: #222; /* Dark background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for dark mode */
    transition: transform 0.2s, box-shadow 0.2s;
    color: #f1f1f1; /* Light text for contrast */
    text-align: center;
}

.square-frame:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.2); /* Highlighted shadow */
}

.ticker {
    font-size: 1.25em !important; /* Larger font for ticker */
    font-weight: bold;
}

.price {
    font-size: 1.75em !important; /* Slightly smaller font for price */
    font-weight: bold;
}

.change {
    font-size: 1.75em !important; /* Same size as price */
}

.positive {
    font-size: 1.25em !important;
    font-weight: bold;
    color: #4caf50; /* Green for positive changes */
}

.negative {
    font-size: 1.25em !important;
    font-weight: bold;
    color: #f44336; /* Red for negative changes */
}
